@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
  font-family: "Pretendard", "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
}

.ir {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#wrap {
  max-width: 1920px;
  margin: 0 auto;
}

#shortcut > a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #868686;
  color: #ffffff;
  transform: translateY(-60px);
  transition: transform 0.3s ease-in-out;
}
#shortcut > a:focus {
  transform: translateY(0);
}

.link {
  display: inline-block;
  padding: 0 20px;
  line-height: 1.7;
}

#header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #868686;
}
#header .logo {
  width: 20%;
  height: 70px;
  display: flex;
  align-items: center;
}
#header .logo .link {
  display: block;
  height: 50px;
  margin: 0 auto;
  aspect-ratio: 77.5/70;
  background: url(../assets/salady_logo.png) no-repeat center/cover;
}
#header .topMenu {
  width: 80%;
  height: 70px;
  padding: 0 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header .topMenu > li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #17643f;
  display: none;
}
#header .topMenu > li > .link {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  font-size: 18px;
  line-height: 70px;
}
#header .topMenu > li:hover > .link {
  border-bottom-color: #17643f;
  color: #17643f;
}
#header .topMenu > li:hover::after {
  display: block;
}
#header .topMenu > li:hover .subMenu {
  display: flex;
}
#header .topMenu > li.active > .link {
  border-bottom-color: #17643f;
  color: #17643f;
}
#header .subMenu {
  position: absolute;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  z-index: 1;
  display: none;
  margin-left: -150px;
}
#header .subMenu > li {
  padding: 10px 0;
}
#header .subMenu > li > .link {
  color: #575757;
  font-size: 16px;
}
#header .subMenu > li > .link:hover {
  color: #17643f;
  font-weight: bold;
  text-decoration: underline;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #404040;
  border: 1px solid #000;
  text-align: center;
}
#footer .content {
  margin-top: 20px;
  color: #cccccc;
}

#main {
  width: 100%;
  height: 500px;
}

/*# sourceMappingURL=style.css.map */
