$color_black: #000000;
$color_white: #ffffff;

$color_main_green: #17643f;

$color_icon_green: #226140;
$color_icon_red: #c9241a;
$color_icon_orange: #ff8400;

$color_bg_green: #e5eee8;
$color_bg_beige: #fffaf2;

$color_active_green: #10452b;

$color_membership_gray: #a6a6a6;
$color_membership_green: $color_main_green;
$color_membership_red: #cb0500;
$color_membership_gold: #de9720;
$color_membership_black: $color_black;

$color_gray80: #333333;
$color_gray50: #666666;
$color_gray40: #f7f7f7;
$color_gray30: #f6f6f6;
$color_gray20: #fafafa;


