@use '../helpers/variable' as var;

@mixin hover{
  &:hover{
    color: var.$color_main_green;
    @content;
  }
}

#header{
  width: 100%;
  display: flex;
  border-bottom: 1px solid var.$color_gray50;

  // 로고
  .logo{
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;

    .link{
      display: block;
      height: 50px;
      margin: 0 auto;
      aspect-ratio: 77.5/70;
      background: url(../assets/salady_logo.png) no-repeat center/cover;
    }
  }

  // 상위메뉴
  .topMenu{
    width: 80%;
    height: 70px;
    padding: 0 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    >li{
      // 서브메뉴 배경
      &::after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        z-index: var.$depth02;
        width: 100%;
        height: 70px;
        background-color: var.$color_white;
        border-bottom: 2px solid var.$color_main_green;

        // 숨겨두기
        display: none;
      }
      
      >.link{
        display: block;
        width: 100%;
        padding: 0 20px;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        font-size: 18px;
        line-height: 70px;
      }
      // 마우스오버시
      &:hover{
        >.link{
          border-bottom-color: var.$color_main_green;
          color: var.$color_main_green;
        }
        // 서브메뉴 배경
        &::after{
          display: block;
        }
        // 서브메뉴
        .subMenu{
          display: flex;
        }
      }
      &.active{
        >.link{
          border-bottom-color: var.$color_main_green;
          color: var.$color_main_green;
        }
      }
    }
  }

  // 서브메뉴
  .subMenu{
    position: absolute;
    margin-left: -150px;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    z-index: var.$depth03;

    // 숨겨두기
    display: none;
    >li{
      padding: 10px 0;

      >.link{
        color: var.$color_gray70;
        font-size: 16px;

        @include hover{
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
